.center {
 display: flex;
 justify-content: center;
 align-items: center;
}
.bottombit {
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
}
.button{
    width: 160px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}