@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.Nav {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	width: 100%;
	display: flex;
	  justify-content: center;
  justify-content: flex-start;
	padding: 0.5rem calc((100vw - 1000px) / 20);
	z-index: 999999999;
}
.NavLogo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}
.NavLink {
	color: rgba(52, 73, 85, 0.5);
	cursor: pointer;
	padding-left: 25px;
	padding-right: 25px;
}

.NavLogo h1{
	font-size: 25px;
	color: var(--formal-secondary-color);

}

.NavLink:hover {
	color: var(--formal-accent-color);
}

.Bars {
	  margin-left: auto;
	display: none;
	color: var(--formal-accent-color);
}
@media screen and (max-width: 963px) {
	.Bars {
		display: block;
		margin-right: 30px;
		font-size: 1.8rem;
		cursor: pointer;
	}
}
.NavMenu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
@media screen and (max-width: 963px) {
	.NavMenu {
		display: none;
	}
}
.NavBtn {
	  margin-left: auto;
	display: flex;
	align-items: center;
}
@media screen and (max-width: 963px) {
	.NavBtn {
		display: none;
	}
}
.ProfileButton{
	margin-right: 20px;
}
.formlabel{
	text-decoration: underline;
	margin-top: 20px;
	margin-bottom: 20px;
}
.MobileNavButton {
	margin-top: 10px;
	width: 80%;
}
.HeaderLogo {
	width: 50px;
	height: 50px;
}
.MainFooter {
	min-height: 130px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	align-items: flex-start;
	color: #fff;
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
}

.largefootertext h1{
	color: var(--formal-primary-color);
	font-size: clamp(2rem, 20vw, 3vw); 
}

.footerlinks{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1rem;
	color: rgb(179, 177, 177);
}
.footerlink{
	-webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
	padding-right: 20px;
}
.footerlink:hover{
	color:var(--formal-accent-color)
}