.AuthPage {
	margin-top: 40px;
	color: black;
	background-color: #4d4459;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.AuthContainer {
	width: 90%;
	max-width: 503px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 7px;
	border: solid 1px;
	border-color: #b2b0b0;
}
.AuthContent {
	text-align: center;
	justify-content: center;
	max-width: 100%;
	font-size: 20px;
	font-family: 'DM Sans', sans-serif;
	margin-bottom: 30px;
}
.Logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 105px;
	height: 105px;
}
.AuthButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 50px;
	width: 90%;
	height: 48px;
	background-color: #3e86f1;
	border-radius: 6px;
	color: #ffffff;
}
.AuthButton :hover {
	background-color: #1056bf;
}
.FormInput,.input-error {
	width: 90%;
	height: 60px;
	padding-left: 15px;
	border-radius: 9px;
	border: solid 1px;
	border-color: #b2b0b0;
	margin-bottom: 20px;
}
.input-error{
	border-color: #e61111;
	
}
.FormError .input-error {
	border: solid #ee6a6a;
}
.AdditionalButtons {
	text-align: center;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	color: #868686;
	width: 503px;
}
.BlueText {
	display: inline;
	cursor: pointer;
	font-size: 18px;
	color: #3e86f1;
}
.BlueText :hover {
	color: #8a3aaf;
}
.FormError {
	font-weight: 700;
	padding-left: 30px;
	color: #ee6a6a;
	text-align: left;
}
