
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.Nav {
 background-color: #595472;
font-family: 'Montserrat', sans-serif;

 font-weight: 800;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0.5rem calc((100vw - 1000px) / 20);
 z-index: 10;
}
.NavLink {
 font-size: 30px;
 color: #fff;
 display: flex;
 align-items: center;
 text-decoration: none;
 padding: 0 1rem;
 height: 100%;
 cursor: pointer;
}
.NavLink .active {
 color: #ed97c2;
}
.NavLink:hover {
 color: #ed97c2;
}
.Bars {
 display: none;
 color: #ed97c2;
}
@media screen and (max-width: 768px) {
 .Bars {
  display: block;
  margin-right: 30px;
  font-size: 1.8rem;
  cursor: pointer;
 }
}
.NavMenu {
 display: flex;
 align-items: center;
 margin-right: -24px;
}
@media screen and (max-width: 768px) {
 .NavMenu {
  display: none;
 }
}
.NavBtn {
 display: flex;
 align-items: center;
 margin-right: 24px;
}
@media screen and (max-width: 768px) {
 .NavBtn {
  display: none;
 }
}
.MobileNavButton {
 margin-top: 10px;
 width: 80%;
}
.HeaderLogo {
 width: 50px;
 height: 50px;
}

.MainFooter {
 width: 100%;
 height: 130px;
 background-color: #4d4459;
 display: flex;
 align-items: center;
 padding: 30px;
 color: #fff;
 font-family: 'Russo One', sans-serif;
 font-size: 40px;
}
