.SmallContainer{
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: orange;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.closeButton{
    color: #fff;
    font-size: small;
    margin-left: 30px;
}

.SmallContainer :hover{
    color: black;
}