.pagenotfound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.smallercontainer {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Code {
    font-weight: 900;
    font-size: 100px;
}

.PNF {
    font-size: 30px;
}

.Description {}

.Button button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;

    display: inline-block;
    outline: 0;
    border: 0;
    background-image: linear-gradient(to right, #e052a0, #f15c41);
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 14px;


}

.Button button:hover {
    background-image: linear-gradient(to right, #3ec7e0, #526bf4);

}