.EditPluginPagecontainer {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	height: 100%;
	flex-direction: row;
	gap: 30px;
	margin: 10px;
}
.EditPluginPagecontainer img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.EditPluginPagecontainer iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	aspect-ratio: 16/9;
	height: auto;
}
.topContainer {
	display: flex;
	align-items: center;
}
.topBar {
	width: 50;
	margin: 10px;
	padding: 10px;
	background-color: gray;
	border-radius: 10px;
}
