
.TiersContainer{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Stripe-Plans{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Top Wave */

.custom-shape-divider-top-1678991125 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678991125 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-top-1678991125 .shape-fill {
    fill: #595472;
}
