@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
.Left{
	margin-top: 10vh;
	margin-left: 5vw;
	width: 100%;
}
.Left span{
	color: var(--formal-accent-color);
	font-weight: 800;
}
.left h1, left h2 {
	text-shadow: 2px 2px #000000;
}
.Hero {
	font-family: 'Montserrat', sans-serif;

	display: flex;
	justify-content: center;
	flex-direction: row;
	
	padding-top: 40px;
	padding-left: 40px;
}

.Hero img{
	width:50% ;
}

@media screen and (max-width: 768px) {
	.Hero{
		padding-bottom: 40px;
		padding-left: 0px;
	}
	.Hero img{
		display:none;
	}	
	.Hero h1,h2,button{
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.Left{
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.Hero button{
	margin-top:15px;
	border-radius: 10px;
	padding: 5px 25px;
	background-color: var(--formal-accent-color);
}
.Left h1{
		font-size: 36px;
}
.Left h2{
		font-size: 50px;
}

/* ---------------- */
/*     Features     */
/* ---------------- */
.Features{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* overflow-x: auto; */
	gap: 90px;
	text-align: center;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	height: auto;
}
@media screen and (max-width: 768px) {
	.Features {
		justify-content: center;
		padding-left: 0px;
	}
}
.Feature {
	width: 200px;
	color: rgba(35, 47, 62, 0.5);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.4fr 1.6fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:'Icon''Text''Description';
}
@media screen and (max-width: 768px) {
	.Feature {
		width: 300px;
	}
}
.Icon {
	color: var(--formal-accent-color);
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: Icon;
}
.Text {
	font-family: 'Russo One', sans-serif;
	font-size: 25px;
	grid-area: Text;
}
.Description {
	font-size: 15px;
	grid-area: Description;
}
